/* Couleur d'arrière-plan pour tout le site */
body {
    background-color: #F5F9E9;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Image qui prend toute la largeur */
.logo-image {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
}

/* Titre centré */
h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px 0;
}

/* Conteneur des boutons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style des boutons avec côtés arrondis */
.btn {
    display: inline-block;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #C2C1A5;
    border-radius: 25px; /* Arrondir les côtés des boutons */
    font-family: Arial, sans-serif;
}

/* Changement de couleur au survol */
.btn:hover {
    background-color: #0056b3;
}
