/* Couleur d'arrière-plan pour tout le site */
body {
    background-color: #F5E5D3;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Image calibrée à 400x400 pixels */
.logo-image {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
}

h1 {
    text-align: center;
    font-family: gilroyblack;
	text-transform: uppercase;
    width: 50%; /* Prendre 50% de la largeur */
    margin: 20px auto; /* Centrer horizontalement avec auto */
    /*background-color: #e6e6e6;  Optionnel, pour une meilleure visibilité du titre */
    padding: 10px; /* Optionnel, pour un peu d'espace autour du texte */
    border-radius: 10px; /* Optionnel, coins arrondis pour le titre */
}

h2 {
    text-align: center;
    font-family: gilroyblack;
    width: 50%; /* Prendre 50% de la largeur */
    margin: 20px auto; /* Centrer horizontalement avec auto */
    /*background-color: #e6e6e6;  Optionnel, pour une meilleure visibilité du titre */
    padding: 10px; /* Optionnel, pour un peu d'espace autour du texte */
    border-radius: 10px; /* Optionnel, coins arrondis pour le titre */
}

/* Conteneur des boutons */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Style des boutons avec côtés arrondis et icônes */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start; /* Aligner l'icône et le texte sur la gauche */
    width: 30%;
    padding: 10px;
	position: auto;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #9BD39A;
	border: 1px solid white;
    border-radius: 15px;
    font-family: Arial, sans-serif;
}

/* Icônes dans les boutons */
.icon {
    width: 30px;
    height: 30px;
    padding-right: 20px; /* Espace entre l'icône et le texte */
}

/* Changement de couleur au survol */
.btn:hover {
	border: 1px solid grey;
    background-color: #E4EBC8;
	color: #111111;
	position: auto;
}

/* Section avec image en arrière-plan */
.background-image-section {
    height: 200px;
    width: 100%;
    background-image: url('votre-image-arriere-plan.jpg'); /* Remplacez par votre image */
    background-size: cover; /* Couvre toute la section */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    display: flex;
    justify-content: center;
    align-items: center;
}